---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SearchLayout from '../../components/parts/Search.astro';
const pageTitle = "Search";

---

<BaseLayout pageTitle={pageTitle}>
    <div class="wrapper animate-fade">
        <SearchLayout />
    </div>
</BaseLayout>